/*Desarrollado por Innodite 
   RIF:  J-40270256-6
    Contacto
       Javier Urbano     0416-583.38.09
       Anthony Filgueira 0426-594.00.45
*/
.truco{
    border-bottom: 2px solid black;
}
.size{
    width: 50px;
}
