#rankings{
    width: 400px;
    height: 500px;
    display: inline-block;
    vertical-align: top;
}
article{
    max-height:500px;
    overflow-y: auto;
   
}
#ranking{
    width: 400px;
    max-height: 500px;
    color: #000000;
    background-image: url('retina_wood.png');
    border-radius: 5px;
    margin-top: 5px;
    overflow-y: auto;
}

select{
    width: 120px;
}
#list{
    width: 590px;
    height: 500px;
    display: inline-block;
}


#primeraD{
   width: 326px;
   
    
    color: #000000;
    background-image: url('retina_wood.png');
    
    border-radius: 5px;
    display: inline-block;
}
#segundaD{
   width: 326px;
    
 
    color: #000000;
    background-image: url('retina_wood.png');
   vertical-align: top;
    border-radius: 5px;
    display: inline-block;
}
#terceraD{
   width: 326px;
    vertical-align: top;
    
    color: #000000;
    background-image: url('retina_wood.png');
    
    border-radius: 5px;
    display: inline-block;
}
#footer{
    width: 990px;
    height: 180px;
}
#competidores{
    width: 590px;
    color: #000000;
    border-radius: 5px;
    margin-top: 5px;
    background-image: url('retina_wood.png');
   height: 500px;
    display: inline-block;
    
}
