/* 
    Document   : cssGCompetencia
    Created on : 07/12/2013, 01:08:38 AM
    Author     : JUrbano
    Description:
        Purpose of the stylesheet follows.
*/

*{
    margin: 0;
    padding: 0;
}
#contenedor{
   
    background-color: black;
    width: 1000px;
    height: 700px;
}
nav ul li a{
   
    color: #FFFFFF;
    text-decoration: none;
  
}
nav ul li:hover > a {
    
    color: #00B4FF;
}
nav li:hover, nav a:focus, nav a:hover, nav a:active,nav a:visited {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;
}
nav{  
    background-image: url('menu_bg.png');
    background-size: 1000px 60px;
    height: 60px;
    background-repeat: no-repeat;
      
}
nav ul li ul{
    display: none;
}

nav ul li ul li{
    background-color: #222;
   
}
nav ul li:hover ul{
   display: block;
  
}
#menu{
    margin-top: 20px;
}
nav ul{
    list-style: none;
}
nav ul li{
    vertical-align: top;
    text-align: center;
    width: 150px;
    height: 30px;
    border: 2px black;
    display: inline-block;
    list-style-type:  none; 
}
/*Fin De Estilos Del Menu*/
/*
#gcompetencia{
        
        border: 3px outset black;
        border-radius: 10px;
        min-height: 300px;
        width: 700px;
        }
*/
#submit{
    
    margin-top: 30px;
    width: 200px;
}
/*
#nombre{
    margin-left: 5px;
}

*/
fieldset{
    text-align: left;
    border:none;
}

body {
    
     background-color: black;
     font-family: Helvetica;
}

input:invalid{
    border-radius: 1px;
    box-shadow: 0 0 5px #FF0000;
}
.no-boxshadow input:invalid{
    background-color: #F0DDDD;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #FF5E99;
    color: #FFFFFF;
    text-shadow: none;
}

.topbuttons{
    float: right;
    cursor: pointer;
    text-align: right;
}

.puntero {
    cursor: pointer;
}

 #gcompetencia, input {
    background-color: #4D5155;
    font-family: Helvetica,Arial,sans-serif;
}

label {
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
   margin-right: 5px;
    letter-spacing: 4px;
    
}

input {
    background-color: #303030;
    border: medium none;
    border-radius: 0.4em;
    box-shadow: 0 -1px 0 0 #000000;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
   
    height: 27px;
    letter-spacing: 2px;
    width: 200px;
}


input:focus:required:invalid {
    color: #000000;
}

table th {
    text-align: left;
    padding: 3px;
    width: 200px;
}

table td{    
    text-align: left;    
    padding: 3px;
    width: 100px;    
}

.tdmin{
    text-align: left;
    width: 40px;
}

.tdmed{
    text-align: left;
    width: 100px;
}

.tdlong{
    text-align: left;
    width: 150px;
}

.mintopbuttons{
    width: 105px;
}

.medtopbuttons{
    width: 145px;
}

.ranking{
    color: #FFFFFF;
    font-weight: bold;
}