.input:invalid{
    border-radius: 1px;
    box-shadow: 0 0 5px #1919A3;
}

.no-boxshadow .input:invalid{
    background-color: #FF5E99;
}
    
*::-moz-selection {
    background: none repeat scroll 0 0 #FF5E99;
    color: #FFFFFF;
    text-shadow: none;
}

.input {
    background-color: #ECE3DA;
    border: medium none;
    border-radius: 0.4em;
    box-shadow: 0 -1px 0 0 #000000;
    color: black;
    font-family:"Times New Roman";
    height: 27px;
    letter-spacing: 2px;
    width: 130px;
}

img{
    cursor: pointer;
}

table, #lstable{
    width: 1000px;
    color: #000000;
    border-radius: 5px;
    margin-top: 5px;
}

table td {      

    text-align: center;    
    padding: 3px;
    width: 130px;   
}

label{
    color:#1919A3;

}
select{
    width: 200px;
}
