*{
    margin: 0;
    padding: 0;
}
#contenedor{
   
    background-color: black;
    width: 1000px;
    height: 700px;
}
nav ul li a{
   
    color: #FFFFFF;
    text-decoration: none;
  
}
nav ul li:hover > a {
    
    color: #00B4FF;
}
nav li:hover, nav a:focus, nav a:hover, nav a:active,nav a:visited {
    background: none repeat scroll 0 0 #121212;
    outline: 0 none;
}
nav{  
    background-image: url('menu_bg.png');
    background-size: 1000px 60px;
    height: 60px;
    background-repeat: no-repeat;
      
}
nav ul li ul{
    display: none;
}

nav ul li ul li{
    background-color: #222;
   
}
nav ul li:hover ul{
   display: block;
  
}
#menu{
    margin-top: 20px;
}
nav ul{
    list-style: none;
}
nav ul li{
    vertical-align: top;
    text-align: center;
    width: 150px;
    height: 30px;
    border: 2px black;
    display: inline-block;
    list-style-type:  none; 
}
//Fin De Estilos Del Menu
#inscripcion{
        
        border: 3px outset black;
        border-radius: 10px;
        height: 500px;
        width: 1000px;
        }
body {
    
     background-color: black;
     font-family: Helvetica;
}

input:invalid{
    border-radius: 1px;
    box-shadow: 0 0 5px #FF0000;
}
.no-boxshadow input:invalid{
    background-color: #F0DDDD;
}
*::-moz-selection {
    background: none repeat scroll 0 0 #FF5E99;
    color: #FFFFFF;
    text-shadow: none;
}


 #inscripcion, input {
    background-color: #4D5155;
    font-family: Helvetica,Arial,sans-serif;
}

td{
    width: 200px;
    text-align: center;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    letter-spacing: 4px;
    
}
img{
    cursor: pointer;
}
#lstable{
    background-color: #4D5155;
    font-family: Helvetica,Arial,sans-serif;
    border-color: #00B4FF;
}
input {
    background-color: #303030;
    border: medium none;
    border-radius: 0.4em;
    box-shadow: 0 -1px 0 0 #000000;
    color: #FFFFFF;
    font-family: Helvetica,Arial,sans-serif;
    height: 27px;
    letter-spacing: 2px;
    width: 130px;
}


input:focus:required:invalid {
    color: #000000;
}