
body {
background: #281400;
/*background-image: url('../img/caballo.jpg');*/

}

header {
    background-color:#CC9900;
    margin:auto;
    width: 1000px;
    -webkit-border-radius: 40px 40px 0px 0px;      /* 1ero superior izquierda, 2do superior derecha, 3ero inferior derecha y 4to inferior izquierda*/
    -moz-border-radius:  40px 40px 0px 0px;
    -ms-border-radius:  40px 40px 0px 0px;
    -o-border-radius:  40px 40px 0px 0px;
    border-radius:  40px 40px 0px 0px;
    }

    footer{ 
    text-align:center;
    margin:auto;
    padding: 20px 20px;
    width: 960px;
    height: 15px;
    background-color: #CC9900;
    -webkit-border-radius: 0px 0px 10px 10px;      /* 1ero superior izquierda, 2do superior derecha, 3ero inferior derecha y 4to inferior izquierda*/
    -moz-border-radius: 0px 0px 10px 10px; 
    -ms-border-radius: 0px 0px 10px 10px; 
    -o-border-radius: 0px 0px 10px 10px; 
    border-radius: 0px 0px 10px 10px; 

}



@font-face {
    font-family: vaquera1;
    src: url("../fuentes/Carnevalee-Freakshow.ttf");
    font-weight:bold;
}

h1{
    margin-top: 30px;
    font-family: vaquera1;
    text-align: center; 
    font-size: 33px;
   

}
#logo {
    width:150px;
    margin-left: 85px;
    margin-top: -18px;
    margin-bottom: -20px;

}
   
#iconos-sesion img {
    margin-left: 200px;
    margin-top: 15px;
    margin-right: 10px;
    width: 1000px;
    height: 15px;
}

#login{
        background: #CC9900;
        margin-top: 70px;
        margin-left: 300px;
        padding-top: 1px;
        border-radius: 10px;
        height: 400px;
        width: 400px;
        box-shadow: 0px 0px 20px #000000;
        }


#contenedor{ 
    /*padding-top: 15px;*/ 
    width: 1000px;
    height: 650px;
    margin: auto;
    background: #F5F0EB;
   /* background: #D69330;*/
}


#submit{
    
    margin-top: 30px;
    width: 200px;
}

fieldset{
    margin-top: 20px;
    text-align: left;
    border:none;
    margin-left: 60px;
}

input:invalid{
    border-radius: 5px;
    box-shadow: 0px 0px 20px #000000;

}

label {
    color: #000000;
   margin-right: 5px;
    letter-spacing: 4px;
    font-family: "Time New Roman";
    font-weight: bold;
    font-size: 20px;
    margin-left: -40px;
    
}

input {
    background-color: #FFFFFF;

    border: medium none;
    border-radius: 0.4em;
    box-shadow: 0 -1px 0 0 #000000;
    height: 27px;
    letter-spacing: 2px;
    width: 200px;
    font-family: "Time New Roman";
    padding-left: 10px;
    font-size: 16px;
    margin-left: 10px;
}

#acceder{
background: #FFFFFF;

margin-top: 40px;
margin-left: 120px;
font-weight: bold;
 box-shadow: 0px 0px 20px #000000;
width: 130px;



}
#acceder:hover {
    background: #FAF5E6;
}
#footer {
    margin-top: -10px;
    font-weight:bold;

}
